name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux (GCC)
            os: ubuntu-latest
            toolchain: gcc
            generator: Unix Makefiles
            cmake_flags: -DCMAKE_BUILD_TYPE=Release
            build_flags: ""
          - name: Windows (MSVC)
            os: windows-latest
            toolchain: msvc
            generator: Visual Studio 17 2022
            cmake_flags: -A x64
            build_flags: --config Release
          - name: Windows (MinGW)
            os: windows-latest
            toolchain: mingw
            generator: Ninja
            cmake_flags: -DCMAKE_BUILD_TYPE=Release
            build_flags: ""

    steps:
    - uses: actions/checkout@v4

    - name: Setup MinGW (MSYS2)
      if: matrix.toolchain == 'mingw'
      uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        update: true
        install: >-
          mingw-w64-ucrt-x86_64-gcc
          mingw-w64-ucrt-x86_64-cmake
          mingw-w64-ucrt-x86_64-ninja

    - name: Configure CMake
      if: matrix.toolchain != 'mingw'
      run: >
        cmake -S . -B build
        -G "${{ matrix.generator }}"
        ${{ matrix.cmake_flags }}

    - name: Configure CMake (MinGW)
      if: matrix.toolchain == 'mingw'
      shell: msys2 {0}
      run: >
        cmake -S . -B build
        -G Ninja
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_C_COMPILER=gcc
        -DCMAKE_CXX_COMPILER=g++

    - name: Build
      if: matrix.toolchain != 'mingw'
      run: cmake --build build ${{ matrix.build_flags }}

    - name: Build (MinGW)
      if: matrix.toolchain == 'mingw'
      shell: msys2 {0}
      run: cmake --build build
